<div class="login-container">
  <mat-form-field class="login" appearance="fill">
    <mat-label>Login</mat-label>
    <input matInput />
  </mat-form-field>
  <br />
  <mat-form-field class="password" appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</div>
