.container {
  display: grid;
  margin: auto;
  padding-top: 10px;
  grid-template-columns: auto repeat(5, 200px) auto;
  font-size: 18px;
}

.movies {
  grid-column: 2;
}
.series {
  grid-column: 3;
}
.rankings {
  grid-column: 4;
}
.netflix {
  grid-column: 5;
}
.mubi {
  grid-column: 6;
}

.line {
  display:block;
  border:none;
  color:white;
  height: 1px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 700, from(rgb(85, 83, 83)), to(rgb(214, 213, 213)));
}