.container {
  display: grid;
  margin: auto;
  padding-top: 10px;
  grid-template-columns: auto repeat(5, 200px) auto;
  font-size: 18px;
}

.movies {
  grid-column: 2;
}
.series {
  grid-column: 3;
}
.rankings {
  grid-column: 4;
}
.netflix {
  grid-column: 5;
}
.mubi {
  grid-column: 6;
}