.header-container {
  height: 75px;
  display: grid;
}
.header {
  margin: auto;
  font-size: 36px;
  font-weight: bold;
}
.containter {
  border: 1px solid black;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 30px;
}
.review {
  border: 1px solid black;
}
