<mat-toolbar color="primary">
  <button class="site-icon" [routerLink]="['/homepage']" mat-icon-button>
    <mat-icon>movie</mat-icon>
  </button>
  <button class="site-logo" [routerLink]="['/homepage']" mat-button>
    MOVIESIEC
  </button>
  <mat-search-bar></mat-search-bar>
  <button class="movie-list-icon" [routerLink]="['/movies']" mat-icon-button>
    <mat-icon>list</mat-icon>
  </button>
  <button class="login-icon" [routerLink]="['/login']" mat-icon-button>
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
