<mat-toolbar color="primary">
  <button [routerLink]="['/homepage']" mat-icon-button>
    <mat-icon>movie</mat-icon>
  </button>
  <button [routerLink]="['/homepage']" class="name-button" mat-button>
    MOVIESIEC
  </button>
  <span class="spacer-1"></span>
  <mat-search-bar></mat-search-bar>
  <span class="spacer-2"></span>
  <button [routerLink]="['/movies']" mat-icon-button>
    <mat-icon>list</mat-icon>
  </button>
  <button [routerLink]="['/login']" mat-icon-button>
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
